.App {
    background-image: url('../imagens/white-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.mensagem-erro {
    color:red;
    font-weight: bold;
    margin-top: 15px;
  }

/* Adicione isso ao seu arquivo CSS */
.mensagem-status {
  font-size: 2em;  /* Tamanho da fonte grande */
  text-align: center;  /* Alinhamento de texto centralizado */
  position: fixed;  /* Posição fixa */
  top: 50%;  /* Centralizar verticalmente */
  left: 50%;  /* Centralizar horizontalmente */
  transform: translate(-50%, -50%);  /* Necessário para verdadeira centralização */
  background-color: rgba(0, 0, 0, 0.8);  /* Fundo semi-transparente */
  color: white;  /* Cor do texto */
  padding: 20px;  /* Espaçamento interno */
  border-radius: 8px;  /* Cantos arredondados */
}

  