/* Reset básico para garantir consistência entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Base (Mobile-First) */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Prompt-Regular';
  background-color: #f4f4f4;
  padding: 5vw;
  background-image: 
    url('/src/imagens/be-monocromia-cinza.png'),
    linear-gradient(to right, #007c83 0%, #007c83 10%, #f4f4f4 2%, #f4f4f4 100%);
  background-position: left top, left top;
  background-size: 9% auto, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  width: 100%;
  margin: 0 auto; /* para centralizar o app horizontalmente */
}

.app-titulo {
  font-size: calc(3vw + 2vh);
  color: #333;
  margin-top: 4vh;
  margin-bottom: 4vw;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  max-width: 80%; /* Define uma largura máxima */
  margin-left: auto; /* Centraliza o container horizontalmente */
  margin-right: auto; /* Centraliza o container horizontalmente */
}


.best-seller-section,
.corretores-section,
.metas-section {
  margin: 2vh 0; /* 2vh de margem vertical no topo e na base */
}

.app-titulo,
.section-title {
  margin: 2vh 0; /* 2vh de margem vertical no topo e na base */
}

.best-seller-container{
  display: flex;
  text-align: center;
  flex-wrap: wrap; /* Permite que os itens sejam quebrados em várias linhas se necessário */
  font-size: calc(1.75vw + 1vh);
  margin-top: 2vh;
  margin-left: 3vh;
}

.best-seller-be {
  color: #9c9fae;
  margin-left: 0.3em;
}

.best-seller-name {
  color: #007c83;
  margin-left: 0.3em;
}



.chart-container {
  width: 90vw; /* ocupa 90% da largura da viewport */
  margin: 20px auto; /* adiciona margem e centraliza horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ajustes para o eixo Y no componente */

.y-axis .tick text {
  font-size: calc(0.9vw + 1vh);
  font-family: 'Prompt-Regular';
}

.y-axis-imob .tick text {
  font-size: calc(0.8vw + 0.7vh); /* Ajuste o tamanho da fonte conforme necessário */
}


#graficoMetas {
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.chart-metas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  width: 90vw;
  height: 300px;
}

.chart-metas-container svg text {
  font-size: calc(0.5vw + 0.9vh); /* Reduz o tamanho da fonte das metas */
}


/* Ajustes para Telas Médias */
@media (min-width: 480px) {

  .App {
    padding: 1.5vw;
  }

  .app-titulo {
    font-size: calc(5vw + 3vh);
  }

  .best-seller-container{
    font-size: 3.5vw;
  }
  .chart-container {
    width: 85vw; /* ocupa 85% da largura da viewport em telas médias */
  }
  .y-axis .tick text {
    font-size: calc(2vw + 1vh)
  }

  .y-axis-imob .tick text {
    font-size: calc(2 + 1vh); /* Ajuste o tamanho da fonte conforme necessário */
  }

  .chart-metas-container{
    width: 80vw;
    padding-left: 0%;
  }
}

/* Ajustes para Telas Grandes */
@media (min-width: 768px) {
  .App {
    padding: 2vw;
  }

  .app-titulo {
    font-size: calc(3vw + 2vh);
  }


  .best-seller-container{
    font-size: calc(1.7vw + 1vh);
  }

  .best-seller-name {
    margin-left: 0.3em;
  }

  .chart-container {
    width: 70vw; /* ocupa 70% da largura da viewport em telas grandes */
  }
  .y-axis .tick text {
    font-size: calc(0.9vw + 0.95vh)
  }
  .y-axis-imob .tick text {
    font-size: calc(0.6vw + 0.7vh); /* Ajuste o tamanho da fonte conforme necessário */
  }
  .chart-metas-container{
    width: 77vw;
    padding-left: 0%;
  }
}

