/* Reset básico para garantir consistência entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Base (Mobile-First) */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Prompt-Regular';
  background-color: #f4f4f4;
  padding: 5vw;
  background-image: 
    url('/src/imagens/be-monocromia-cinza.png'),
    linear-gradient(to right, #007c83 0%, #007c83 15%, #f4f4f4 2%, #f4f4f4 100%);
  background-position: left top, left top;
  background-size: 14% auto, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  width: 100%;
  margin: 0 auto; /* para centralizar o app horizontalmente */
}

.app-titulo {
  font-size: calc(3vw + 2vh);
  color: #333;
  margin-top: 4vh;
  margin-bottom: 4vw;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  max-width: 80%; /* Define uma largura máxima */
  margin-left: auto; /* Centraliza o container horizontalmente */
  margin-right: auto; /* Centraliza o container horizontalmente */
}


.best-seller-section,
.corretores-section,
.metas-section {
  margin: 2vh 0; /* 2vh de margem vertical no topo e na base */
}

.app-titulo,
.section-title {
  margin: 2vh 0; /* 2vh de margem vertical no topo e na base */
}

.best-seller-container{
  display: flex;
  text-align: center;
  flex-wrap: wrap; /* Permite que os itens sejam quebrados em várias linhas se necessário */
  font-size: calc(1.75vw + 1vh);
  color: #444;
  margin-top: 2vh;
  
}

.best-seller-be {
  color: #9c9fae;
  margin-left: 0.3em;
}

.best-seller-name {
  color: #007c83;
  margin-left: 0.3em;
}

.chart-container {
  width: 95vw; /* ocupa 90% da largura da viewport */
  margin: 20px auto; /* adiciona margem e centraliza horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-metas-container {
  width: 85vw; /* ocupa 85% da largura da viewport */
  display: flex;
  margin: 2vh auto; /* adiciona margem e centraliza horizontalmente */
  flex-direction: column; /* alinha os itens na vertical */
  justify-content: center;
  align-items: center;
  color: #007c83;
}

.chart-metas-container p {
  margin: 1vh 0; /* adiciona uma margem vertical entre as frases */
  font-size: calc(1.25vw + 1vh); /* ajusta o tamanho da fonte */
  margin-left: 10vw;
  text-align: center; /* centraliza o texto */
}


/* Ajustes para o eixo Y no componente */

.y-axis .tick text {
  font-size: calc(0.95vw + 1vh);
  font-family: 'Prompt-Regular';
}


/* Ajustes para Telas Médias */
@media (min-width: 480px) {

  .App {
    padding: 1.5vw;
  }

  .app-titulo {
    font-size: calc(5vw + 3vh);
  }

  .best-seller-container h2 {
    font-size: 3.5vw;
  }
  .chart-container {
    width: 80vw; /* ocupa 80% da largura da viewport em telas médias */
  }
  .y-axis .tick text {
    font-size: calc(1.15vw + 1vh)
  }
}

/* Ajustes para Telas Grandes */
@media (min-width: 768px) {
  .App {
    padding: 2vw;
  }

  .app-titulo {
    font-size: calc(3vw + 2vh);
  }


  .best-seller-container h2 {
    font-size: 4vw;
  }
  .chart-container {
    width: 70vw; /* ocupa 70% da largura da viewport em telas grandes */
  }
  .y-axis .tick text {
    font-size: calc(1vw + 0.95vh)
  }
}

