/* Importação da Fonte */
@font-face {
  font-family: 'Prompt-Regular';
  src: url('./assets/Prompt-Regular.ttf') format('truetype');
}

/* Aplicação da Fonte no Body */

body {
  margin: 0;
  font-family: 'Prompt-Regular';
}


code {
  font-family: 'Prompt-Regular';
}
